.App {
  text-align: center;
  background-color: #D5F2E3;
  padding: 15px;
  height: 100%;
  min-height: 100vh;
}
/*/
#E7390D
#6E7E85
/*/

.App.addToggleClass{
background-color: #351D24;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}